<template>

  <div class="layout">
    <div class="hero is-primary">
      <div class="hero-head">
        <div class="main-nav navbar" role="navigation">
          <div class="navbar-brand">
            <div class="navbar-item">
              <img src="/static/logo.png"></img>
            </div>
          </div>
  
          <div class="navbar-start">
            <a href="/" class="navbar-item">
              <i class="fa fa-laptop"></i>
              &nbsp;Home
            </a>
          </div>
  
        </div>
      </div>
    </div>

    <slot></slot>
  </div>

</template>
